.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.2s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 300px;
    height: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color:#3AAFA9 ;
    color: #17252A;
    
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: 12px;
        margin-left: 400px;
      
  }
  
  .flip-box-back {
    background-color: #17252A;
    color: white;
    transform: rotateY(180deg);
  }
  
  .text{
    padding: 20px;
    margin-top: 40px;
    vertical-align: middle;
    font-family: cursive;
    font-size: 12px;
  }