.circle_up_down{
    height: 200px;
    width: 300px;
    background-color: #17252A;
    border-radius: 50%;
    margin-left: 470px;
    box-shadow: 3px 6px 9px 2px white;
   
    
}

.circle_middle{
       display: inline-block;
        height: 200px;
        width: 300px;
        background-color:#17252A;
        border-radius: 50%;
        box-shadow: 3px 6px 9px 2px white;
}

.text{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: white;
    margin-left: 30px;
    /* vertical-align: middle; */
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 34px;
    
}